/* purgecss start ignore */
.topLabel {
    background: linear-gradient(
      to right, 
      #B5EF65, 
      #3BB57E
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .topLabel2 {
    background: linear-gradient(
      to right, 
      #283240, 
      #090D11
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .link_social{
    color: #B5EF65;
  }

  

@tailwind base;

ul {
  list-style-type: disc;
  padding-left: theme('padding.4');
}

ol {
  list-style-type: decimal;
  padding-left: theme('padding.4');
}


@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
